* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, sans-serif;
    color: #333;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

/* logo */
.logo {
    padding-top: 20px;
    max-width: 1500px;
    margin: 0 auto;
}
.logo .logo-inner a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.logo .logo-inner a img {
    width: 3%;
    height: auto;
}
.logo .logo-inner a span {
    color: #333;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: rgb(240, 238, 238);
}
.logo .logo-inner a span::before {
    content: "#";
    padding-right: 5px;
    color: rgb(172, 170, 170);
}
/* end logo */

/* content */
.content {
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
}
.content .left{
    width: 380px;
    display: flex;
    flex-direction: column;
}
.content .left .content-left{
    display: flex;
    justify-content: center;
    align-items: start;
    /* border-bottom: 1px solid rgb(136, 133, 133);
    padding: 15px 0px; */
    gap: 10px;
}
.content .left hr{
    border: 1px rgb(192, 189, 189) solid;
    width: 373px;
    margin: 15px 0px;
}
.content .left .content-left a img {
    width: 150px;
    height: 100px;
}
.content .left .content-left h2 {
    width: 100%;
    font-size: 18px;
}

/* end left */

.content .center{
    width: 800px;
    padding: 0px 20px;
}
.content .center .content-center{
    display: flex;
    flex-direction: column;
}
.content .center .content-center img {
    height: 50vh;
}
.content .center .content-center h1{
    font-size: 30px;
    padding: 10px 0px;
}
.content .center .content-center h2{
    font-size: 18px;
    padding: 10px 0px;
    
}
.content .center .content-center .dot::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 100%;
    vertical-align: middle;
}

/* end center */

.content .right{
    width: 320px;
    display: flex;
    flex-direction: column;
}
.content .right .content-right{
    display: flex;
    flex-direction: column;
    /* padding: 15px 0px; */
}
.content .right .content-right a img {
    background-size: 100% 100%;
}
.content .right .content-right h2 {
    width: 100%;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 40px;
}

