* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}
html {
    font-size: 10px;
    font-family: system-ui, sans-serif;
}
body {
    font-size: 1.6rem;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #333;
}
h1 {
    color: #333;
    text-transform: capitalize;
    font-size: 40px;

}
h2 {
    color: #333;
    text-transform: capitalize;
}
.product {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
/***** today *****/
.product-inner .today a{
    padding-bottom: 20px;
}
.product-inner .today a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.today a span:nth-child(1){
    padding: 20px 10px;
    background-color: red;
    border-radius: 6px;
}
.today a span:nth-child(2){
    color: red;
    font-weight: 500;
}
/***** end today *****/

/***** flash-sales *****/

/* days */
.flash-sales {
    display: flex;
    align-items: center;
}
.flash-sales h1{
    width: 30%;
}
.timing {
    width: 60%;
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    /* padding-left: 80px; */
}
.days {
    width: 10px;
    display: flex;
    justify-content: center;
}
.days .time {
    position: absolute;
    top: 70px;
}
.days h2 {
    text-align: center;
    font-size: 40px;
}
/* end days */

/* hours */
.hours {
    width: 10px;
    display: flex;
    justify-content: center;
}
.hours .time {
    position: absolute;
    top: 70px;
}
.hours h2 {
    text-align: center;
    font-size: 40px;
}
/* end hours */
/* minutes */
.minutes {
    width: 10px;
    display: flex;
    justify-content: center;
}
.minutes .time {
    position: absolute;
    top: 70px;
}
.minutes h2 {
    text-align: center;
    font-size: 40px;
}
/* end minutes */

/* seconds */
.seconds {
    width: 10px;
    display: flex;
    justify-content: center;
}
.seconds .time {
    position: absolute;
    top: 70px;
}
.seconds h2 {
    text-align: center;
    font-size: 40px;
}
/* end seconds */

/* page-direction */
.page-direction {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.page-direction button {
    padding: 20px 20px;
    border-radius: 50px;
}
/* end page-direction */

/***** product-sale *****/
.product-sale {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}
.product-image {
    position: relative;
    border: 1px solid rgb(233, 228, 228);
}
.product-image img{
    z-index: 100;
}
.product-image .sale-badge{
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}
.icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}
.icons a {
    background-color: white;
    color: #333;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(245, 236, 236);
}
.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(128, 128, 128, 0.158);
    z-index: 99;
}

/* add to cart */
.add {
    display: none;
    position: absolute;
    bottom: 0;
}
.product-image:hover .add{
    width: 100%;
    height: auto;
    display: block;
    background-color: black;
    padding: 10px 0px;
    text-align: center;
}
.product-image:hover .add a{
    width: 100%;
    height: auto;
    font-size: 20px;
    color: white;
}
/* end add to cart */

/* product-info */
.product-info {
    padding-top: 10px;
}
.sale-price {
    padding: 10px 0px;
}
.after-price {
    color: rgb(245, 59, 59);
    padding-right: 10px;
}
.before-price {
    color: rgb(194, 188, 188);
}
/* end product-info */

/***** end product-sale *****/

/***** view-all *****/
.view-all {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.view-all button{
    background-color: rgb(253, 92, 92);
    padding: 20px 40px;
    border-radius: 5px;
    color: #fff;
}
/***** end view-all *****/


