* {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: system-ui, sans-serif;
}
body {
    font-size: 1.6rem;
    color: #fff;
}
a {
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}
p {
    width: 200px;
}
h3 {
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 10px;
    width: 200px;
}
/* .exclusive */
.footer {
    background-color: black;
    padding-top: 80px;
}
.footer .footer-inner {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .footer-inner .exclusive{
    padding-right: 50px;
}
.footer .footer-inner .exclusive .info{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .footer-inner .exclusive .info form{
    width: 200px;
    display: flex;
    border: 1px solid white;
    padding: 10px 6px;
    border-radius: 5px;
}
.footer .footer-inner .exclusive .info form input{
    background-color: black;
}
/* end exclusive */

/* support */
.footer .footer-inner .support .info{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* end support */

/* account */
.footer .footer-inner .account .info{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
}
/* end account */

/* quick link */
.footer .footer-inner .quicklink .info{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left:20px;
}
/* end quick link */

/* other info */
.footer .footer-inner .other-info .info{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .footer-inner .other-info .info span{
    width: 200px;
    font-size: 12px;
    color: rgb(153, 151, 151);
}
.footer .footer-inner .other-info .info .logo{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-inner .other-info .info .logo a:nth-child(1) img{
    width: 70px;
    max-height: 70px;
    height: 70px;
    background-color: white;
    border: 1px solid white;
}
.footer .footer-inner .other-info .info .logo a:nth-child(2) img{
    width: 95px;
    height: 34px;
    border: 1px solid white;
    margin-left: 10px;
    border-radius: 6px;
}
.footer .footer-inner .other-info .info .icon{
    width: 200px;
    display: flex;
    justify-content: flex-start;
}
.footer .footer-inner .other-info .info .icon span i{
    font-size: 20px;
}
/* end other info */

/* copyright */
.footer hr{
    border: 1px rgb(36, 34, 34) solid;
    width: 100%;
    margin: 50px 0px 20px 0px;

}
.footer .copyright p{
    width: 1200px;
    margin: 0px auto;
    text-align: center;
    padding: 0px 0px 10px 0px;
}
/* end copyright */