html{
    font-size: 62.5%;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}
h1{
    text-align: center;
    color: #c1362d;
    font-size: 3rem;
}
p::first-letter{
    color: #c1362d;
    font-size: 30px;
    font-weight: bolder;
}
article{
    font-size: 1.5em;
}