body{
    background-color: #fcf5ed;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}
h1 {
    color: #8a4610;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}
div{
    width: 300px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.price{
    text-align: right;
    color: #8a4610;
    font-weight: bolder;
}
.item{
    text-align: left;
    padding: 10px;
}
tr{
    border-bottom: 1px solid #d9cdbf;
}
tr:hover {
    background-color: #f9ccac;
}